.personalWebSiteBodyContainer {
    @extend %align-center;
    width: 100%;
}

.personalWebSiteBody {
    @extend %align-center;
    background-color: #3a5065;
    height: 100%;
    min-height: 50rem;
    width: 75%;
    margin-top: 20rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.personalWebSiteBodyContent {
    @extend %align-center;
    flex-direction: row;
    width: 100%
}

.personalWebSiteBodyContentLeft {
    @extend %align-center;
    flex-direction: column;
    width: 50%;
    font-size: 3.5rem;
    color: #f0f1ec;

    &>a {
        transform: translate(-50%, -50%);
        text-align: center;
        text-decoration: none;
        color: #f0f1ec;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
}

.personalWebSiteBodyContentRight {
    @extend %align-center;
    padding-left: 10rem;
    pointer-events: none;
    width: 50%;
}

.personalBodyAboutButton {
    @extend %align-center;
    background-color: #182840;
    border: 0.3rem solid #182840;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    width: 18rem;
    margin-top: 5rem;
    margin-left: -8rem;
    cursor: pointer;
    position: relative;
    transition: color 0.4s linear;
    border-radius: 3rem;

    &>i {
        @extend %align-center;
        font-size: 1.7rem !important;
        margin-left: 0.8rem;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        background-color: #cca478;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }

    &:hover {
        color: #182840;
    }
}

.aboutButton {

    &::before {
        transform: scaleX(0);
    }

    &:hover::before {
        transform: scaleX(1);
    }
}



@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .personalWebSiteBodyContentLeft {
        font-size: 2.5rem;
    }

    .personalBodyAboutButton {
        margin-left: 4rem;
    }

    .personalWebSiteBodyContentRight {

        &>img {
            height: 30rem;
            width: 30rem;
        }
    }
}


@media only screen and (max-width: 599px) {

    .personalWebSiteBodyContentLeft {
        width: 100%;
        font-size: 3rem;
        margin: 3rem 2rem 0 0rem;
    }

    .personalBodyAboutButton {
        margin-left: 0rem;
    }

    .personalWebSiteBodyContent {
        flex-direction: column !important;
    }

    .personalWebSiteBodyContentRight {
        padding-left: 0;
        margin-bottom: 2rem;
        margin-top: 3rem;

        &>img {
            height: 25rem !important;
            width: 25rem;
        }
    }
}