.personalWebSiteProjectsContainer {
    @extend %align-center;
}

.personalWebSiteProjects {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background-color: #3a5065;
    width: 75%;
    height: 100%;
    min-height: 85rem;
    margin-top: 3rem;
    border-radius: 3rem;
}

.personalWebSiteProjectsContentArcanis,
.personalWebSiteProjectsContentNetflix {
    @extend %align-center;
    position: relative;
    width: 100%;
    height: 50%;
}

.personalWebSiteProjectsContentArcanis {
    margin-top: 5rem;
}

.personalWebSiteProjectsContentNetflixRight,
.personalWebSiteProjectsContentLeft {
    margin-bottom: 40rem;
}

.arcanisAdminImage {
    @extend %image-position;
    position: absolute;
    left: 3rem;
    top: 1rem;
    z-index: 1;
}

.arcanisLoginImage {
    @extend %image-position;
    position: absolute;
    left: 5rem;
    top: 2rem;

    &:hover {
        z-index: 1;
        border-color: #cca478;
    }
}

.arcanisCustomerImage {
    @extend %image-position;
    position: absolute;
    left: 7rem;
    top: 3rem;

    &:hover {
        z-index: 2;
    }
}

.personalWebSiteProjectsContentRight {
    margin-left: 55rem;
    @extend %font-family;
    position: relative;

    &>h1 {
        @extend %align-center;
        color: #f0f1ec;
        font-size: 3rem;
        border-bottom: 0.4rem solid #cca478;
    }

    &>p {
        text-align: center;
        font-size: 1.5rem;
        padding: 2.5rem;
        color: #f0f1ec;
        line-height: 2.5rem;
    }
}

.netflixMainPage {
    @extend %image-position;
    left: 3rem;
    top: 2rem;
    position: absolute;
}

.netflixBody {
    @extend %image-position;
    position: absolute;
    left: 5rem;
    top: 4rem;

    &:hover {
        z-index: 1;
    }
}

.netflixAuth {
    @extend %image-position;
    position: absolute;
    left: 7rem;
    top: 6rem;

    &:hover {
        z-index: 1;
    }
}

.personalWebSiteProjectsContentNetflixLeft {
    margin-left: 55rem;
    @extend %font-family;

    &>h1 {
        @extend %align-center;
        color: #f0f1ec;
        font-size: 3rem;
        border-bottom: 0.4rem solid #cca478;
    }

    &>p {
        text-align: center;
        font-size: 1.5rem;
        padding: 2.5rem;
        color: #f0f1ec;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 599px) {

    .arcanisAdminImage {
        height: 25rem;
        width: 40rem;
    }

    .arcanisLoginImage {
        height: 25rem;
        width: 40rem;
    }

    .arcanisCustomerImage {
        height: 25rem;
        width: 40rem;
    }

    .netflixMainPage {
        height: 25rem;
        width: 40rem;
        left: 3rem;
    }

    .netflixBody {
        height: 25rem;
        width: 40rem;
        left: 5rem;
    }

    .netflixAuth {
        height: 25rem;
        width: 40rem;
        left: 7rem;
    }

    .personalWebSiteProjects {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personalWebSiteProjectsContentRight,
    .personalWebSiteProjectsContentNetflixLeft {
        margin-left: 0rem;
        margin-top: 40rem;
        margin-bottom: 8rem;
    }
}