%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%align-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

%align-flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

%flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%image-position {
    position: absolute;
    height: 25rem;
    width: 45rem;
    border-radius: 1rem;
    border: 0.2rem solid #3a5065;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
        border-color: #cca478;
    }
}