#scrollBtn {
    display: none;
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    padding: 1.5rem;
    background-color: #cca478;
    color: #f0f1ec;
    border: none;
    border-radius: 200%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &:hover {
        opacity: 0.8;
    }

    &>svg {
        @extend %align-center;
        color: #f0f1ec;
    }
}